{% extends 'index.html' %}
{% block content %}

    <div class="container"  style="bottom:500px">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
        <div class="content table-hover table-striped">
            <table class="table table-hover table-striped navbar-ct-azure table-bordered" id="myTable">
                <thead>
                <tr>
                    <th>county</th>
                    <th>2010</th>
                    <th>2011</th>
                    <th>2012</th>
                    <th>2013</th>
                    <th>2014</th>
                    <th>2015</th>
                    <th>2010</th>
                </tr>

                </thead>
                <tbody>
                {% for goat in goats %}
                    <tr>
                        <td>{{ goat.county }}</td>
                        <td>{{ goat.distribution.2010}}</td>
                        <td>{{ goat.distribution.2011}}</td>
                        <td>{{ goat.distribution.2012}}</td>
                        <td>{{ goat.distribution.2013}}</td>
                        <td>{{ goat.distribution.2014}}</td>
                        <td>{{ goat.distribution.2015}}</td>
                        <td>{{ goat.distribution.2016}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}